.ablock {
  /*display: block;*/
}

h1, h2 {
  font-size: 2em;
  padding: 0 300px 0 300px;
}

p.p1 {
  font-size: 1.3em;
  padding: 0 300px 0 300px;
  line-height: 1.5em;
  font-family: medium-content-serif-font,Georgia,Cambria,
    "Times New Roman",Times,serif;
  margin: 0 auto;
  color: grey;
}

p.p2 {
  font-size: 1.3em;
  padding: 10px 300px 10px 300px;
  line-height: 1.5em;
  font-family: medium-content-serif-font,Georgia,Cambria,
    "Times New Roman",Times,serif;
  margin: 0 auto;
  color: grey;
}

img {
  padding: 100px 0;
  display: block;
  margin: 0 auto;
}
