header {
  width: 100%;
  height: 10%;
  position: static;
  background-color: red;
  padding: 5px;
}

.columns {
  display: inline;
  top: 100px;
}

.column1 {
  padding: 10px;
  position: absolute;
  left: 5px;
  width: 20%;
  right: 300px;
  height: 80%;
  background-color: blue;
  overflow: scroll;
}

.column2 {
  position: absolute;
  left: 20%;
  width: 80%;
  padding: 10px;
  height: 80%;
  background-color: green;
  overflow: scroll;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 10%;
  background-color: purple;
}

p {
  text-align: justify;
}
